*~
*.swp
*.swo
*.bak
*.tmp
*.orig
*.log
*.pyc
__pycache__/
node_modules/
.DS_Store
*_history
*.zwc
*.zcompdump*

/*

!/.gitconfig
!/.gitignore
!/.gitattributes
!/.profile
!/.bashrc
!/.zshenv

!/.config/
/.config/*
!/.config/fontconfig
!/.config/ghostty
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/gtkrc
!/.config/gtkrc-2.0
!/.config/mpv
!/.config/nvim
!/.config/nsxiv
!/.config/R
!/.config/tmux
!/.config/tofi
!/.config/yt-dlp
/.config/yt-dlp/cookies.txt
/.config/yt-dlp/archive.txt
!/.config/zathura
!/.config/zsh/
