*~
*.swp
*.swo
*.bak
*.tmp
*.orig
*.log
*.pyc
__pycache__/
node_modules/
.DS_Store
*_history
*.zwc
*.zcompdump*

/*

!/.gitignore
!/.profile
!/.bashrc
!/.zshenv
!/.gitconfig

!/.config/
/.config/*
!/.config/breezerc
!/.config/dolphinrc
!/.config/fontconfig
!/.config/ghostty
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/gtkrc
!/.config/gtkrc-2.0
!/.config/kactivitymanagerdrc
!/.config/kate-externaltoolspluginrc
!/.config/katerc
!/.config/katevirc
!/.config/kcminputrc
!/.config/kdedefaults/
!/.config/kdeglobals
!/.config/kglobalshortcutsrc
!/.config/kiorc
!/.config/konsolerc
!/.config/kscreenlockerrc
!/.config/ksmserverrc
!/.config/kwalletrc
!/.config/kwinrc
!/.config/kwinrulesrc
!/.config/kxkbrc
!/.config/mpv
!/.config/nsxiv
!/.config/nvim
!/.config/plasma-localerc
!/.config/plasmanotifyrc
!/.config/plasma-org.kde.plasma.desktop-appletsrc
!/.config/plasmaparc
!/.config/plasmarc
!/.config/plasmashellrc
!/.config/powerdevilrc
!/.config/powermanagementprofilesrc
!/.config/R
!/.config/systemsettingsrc
!/.config/tmux
!/.config/tofi
!/.config/Trolltech.conf
!/.config/yt-dlp
!/.config/zathura
!/.config/zsh/

!/.local/
/.local/*
!/.local/bin
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/kwin/
/.local/share/kwin/*
!/.local/share/kwin/scripts
!/.local/share/plasma/
/.local/share/plasma/*
!/.local/share/PasswordStore/
!/.local/share/plasma/plasmoids
!/.local/share/kxmlgui5/
/.local/share/kxmlgui5/*
!/.local/share/kxmlgui5/dolphin

