[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/majamin/neovim-config
	branch = lazy
[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = https://github.com/majamin/dwm
	branch = master
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = https://github.com/majamin/dmenu
	branch = master
[submodule ".local/src/oneliners.txt"]
	path = .local/src/oneliners.txt
	url = https://github.com/majamin/oneliners.txt
	branch = master
[submodule ".local/src/st"]
	path = .local/src/st
	url = git@github.com:majamin/st
