# Ignore errors (skip to next item on error)
--ignore-errors

# Download the playlist, if URL refers to video and playlist
--yes-playlist

# Nice filenames
--restrict-filenames

# Container preference
--merge-output-format mp4

# Thumbails
--embed-thumbnail

# Add extra data
--add-metadata

# Save all videos under Movies directory in your home directory
-o '~/Videos/%(title)s_%(id)s.%(ext)s'
